In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./train.csv")

In [5]:
print(df)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage  \
0                 41000    Diesel       Manual      First  19.67 kmpl
1                 46000    Petrol       Manual      First    13 km/kg
2                 87000    Diesel       Manual      First  20.77 kmpl
3                 40670    Diesel    Automatic     Second   15.2 kmpl
4                 86999    Diesel       Manual      First  23.08 kmpl
...                 ...       ...          ...        ...         ...
5842              27365    Diesel       Manual      First   28.4 kmpl
5843             100000    Diesel       Manual      First   24.4 kmpl
5844              55000    Diesel       Manual     Second   14.0 kmpl
5845              46000    Petrol       Manual      First   18.9 kmpl
5846              47000    Diesel       Manual      First  25.44 kmpl

       Engine      Power  Seats  New_Price  Price
0     1582 CC  126.2 bhp    5.0        NaN  12.50
1     1199 CC   88.7 bhp    5.0  8.61 Lakh   4.50
2     1248 CC  88.76 bhp    7.0        NaN   6.00
3     1968 CC  140.8 bhp    5.0        NaN  17.74
4     1461 CC   63.1 bhp    5.0        NaN   3.50
...       ...        ...    ...        ...    ...
5842  1248 CC     74 bhp    5.0  7.88 Lakh   4.75
5843  1120 CC     71 bhp    5.0        NaN   4.00
5844  2498 CC    112 bhp    8.0        NaN   2.90
5845   998 CC   67.1 bhp    5.0        NaN   2.65
5846   936 CC   57.6 bhp    5.0        NaN   2.50

[5847 rows x 14 columns]

In [6]:
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [7]:
df['Mileage'] = df['Mileage'].str.extract('(\d+\.\d+)').astype(float)
df['Mileage'].fillna(df['Mileage'].median(), inplace=True)

In [8]:
df['Engine'] = df['Engine'].str.extract('(\d+)').astype(float)

df['Power'] = df['Power'].str.extract('(\d+\.\d+)').astype(float)

In [9]:
df['Engine'].fillna(df['Engine'].median(), inplace=True)

df['Power'].fillna(df['Power'].median(), inplace=True)

df['Seats'].fillna(df['Seats'].median(), inplace=True)

In [10]:
missed = df.isnull().sum()
print(missed)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                   0
Seats                   0
New_Price            5032
Price                   0
dtype: int64

In [11]:
df.drop('New_Price', axis=1, inplace=True)

In [12]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,88.80,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,88.80,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,88.80,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,2.50

In [13]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [15]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [14]:
df.to_csv("clean_data.csv")